.header{
    margin: 10px;
    padding: 10px;   
}

#labelRows{
    padding-right: 10px;
}

#labelCols{
    padding: 10px;
}


.container{
    border:3px #2F343A solid;
    max-width: fit-content;
}
.row{
    margin:auto;
    display: flex;
}

.box{
    margin: 0px;
    padding: 25px;
    border:1px #2F343A solid;
}



.box_hover{
     margin: 0px;
    padding: 25px;
    border:1px #2F343A solid;
    background-color: #57FF70;
}
